<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>App</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/app3.css" rel="stylesheet">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app3.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </head>
	<body ng-app="myApp" ng-controller="myController">
    
		<div class="container">
	
			<div class="page-header">
				<h1 class="headerClass">Services</h1>      
			</div>
			
			<div class="jumbotron">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand" href="">Notes</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
					  <li><a href="#"data-toggle="collapse" data-target="#addNew" ng-click="changeText()"><span id="addNewSpan" class="glyphicon glyphicon-plus pull-right"></span></a></li>
					  <li><a href="#" ng-click="displaySummary()" data-target="#summary"><span class="glyphicon glyphicon-menu-hamburger pull-right"></span></a></li>
					</ul>
				</div>
			</nav>
    
			<hr>
			<div id="summary" class="summaryClass1">
				<form>
					<div class="summaryTitleDiv">
						<label>Summary</label>
					</div>
					<div class="summaryNoteDiv">
						<label class="summaryTotalLabel "for="notes">{{lastUpdate.totalNotes}}</label>
						<label class="summaryTotalLabel2">notes</label>
					</div>
					<div class="summaryLastNoteDiv">
						<label class="summaryLastNoteLabel" for="time">last updated</label>
						<label class="summaryLastNoteLabel2" for="time">{{lastUpdate.lastUpdatedTime | date:'dd/MM/yy HH:mm'}}</label>
					</div>
					<div class="summaryLastTimeDiv">
						<label class="summaryLastTimeLabel">last note updated</label>
						<label class="summaryLastTimeLabel2">{{lastUpdate.lastNote}}</label>
					</div>
				</form>
			  </div>  
		
			<div id="addNew" class="addNewClass collapse">
				<form>
					<div id="first">
						<label>Create or Edit</label>
					</div>
					<div id="second" class="form-group">
						<div id="secondsub1">
							<label>Title</label>
							<input type="text" class="form-control titleInput" id="title" ng-model="clickedNote.title">
						</div>
						
						<div id="secondsub2">
						<label>Editable?</label>
						<label><input type="checkbox">yes</label>
						</div>
						
						<br>
						<div id="secondsub3">
							<label class="textAreaLabelClass" for="text">Text</label>
							<textarea class="form-control textAreaInput" rows="5" id="textArea" ng-model="clickedNote.textArea"></textarea>
						</div>
					</div>

					<div id="third">
						<button type="submit" class="btn btn-default saveBtn" ng-click="saveNote()" data-dismiss="modal">Save</button>
					</div>
				</form>
			</div>  

			<table id= "tab1" class="table table-hover">
				<thead>
					<tr>
						<th>
						<a href="#" class="tableColumnTitleClass" ng-click="orderByField='title'; reverseSort = !reverseSort">
							Title <span ng-show="orderByField == 'title'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</a>
						</th>
						<th>
							<a href="#" class="tableColumnTitleClass" ng-click="orderByField='timeCreated'; reverseSort = !reverseSort">
							Time Created <span ng-show="orderByField == 'timeCreated'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
							</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "note in notes |orderBy:orderByField:reverseSort">
						<td class="tableTDClass" ng-click="selectNote(note)">{{note.title}}</td>
						<td class="tableTDClass" ng-click="selectNote(note)">{{note.timeCreated | date:'dd/MM/yy HH:mm'}}</td>
						<!--<td>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDelete" ng-click="selectNote(note)">Delete</button>
						</td>-->
					</tr>
				</tbody>
			</table>
		
			</div>
		</div>

   
		<!--<div class="modal fade" id="myModalDelete" role="dialog">
			<div class="modal-dialog">
    
				<div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title">Are You Sure?</h4>
					</div>
					<div class="modal-body">
					  <strong style="color: red;">You are going to delete : {{clickedNote.title}}.</strong>
					</div>

					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteNote()">Yes</button>
					  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>-->

    
  </body>
</html>